@using FishingMania.Services.Data.Models.CarModels
@model CarViewModelList


@if (Model == null || Model.List.Count == 0 || Model.List == null)
{
    <h2>No Cars now avaible</h2>
}
else
{
    foreach (var car in Model.List)
    {
        <div onclick="loadCar('@car.Id')" id="fishingPlace-container" class="container">
            <h4>@car.Model</h4>
            <div class="row">
                <div class="col-md-3">
                    <img src="@car.PictureURL" class="img-thumbnail" />
                </div>
                <div class="col-md-9">
                    @car.Details
                </div>
            </div>
            <div class="row">
               
                <div class="col text-left">
                    Price :@car.Price
                </div>
                <div class="col text-right">
                    Location :@car.Location
                </div>
                <div class="col text-center">
                    AvelableCars :@car.AvelableCars
                </div>
            </div>
        </div>
        <hr />

    }

    <nav aria-label="...">
        <ul class="pagination">

            @if (Model.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>

            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/Hotel/Hotels?currentPage=@(Model.CurrentPage-1)" tabindex="-1">Previous</a>
                </li>
            }

            @for (int i = 0; i < Model.TotalPages; i++)
            {
                if (i + 1 == Model.CurrentPage)
                {
                    <li class="page-item active">
                        <a class="page-link" href="/Hotel/Hotels?currentPage=@(i+1)">@(i + 1) <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Hotel/Hotels?currentPage=@(i+1)">@(i + 1)</a></li>
                }

            }
            @if (Model.CurrentPage == Model.TotalPages)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/Hotel/Hotels?currentPage=@(Model.CurrentPage+1)">Next</a>
                </li>
            }



        </ul>
    </nav>
}
<script>
    const loadCar = (Id) => {
        window.location = '/Car/DetailCar?Id=' + Id;
    }
</script>
